
.fs-inner{
	padding-top: 95px;
}
.fs-title h1{
	margin: 0;
	color: #303E6B;
	line-height: 70px;
	letter-spacing: 0.04em;
	font-weight: 700;
	padding-bottom: 17px;
}
.fs-date span{
	display: inline-block;
	vertical-align: baseline;
	font-size: 20px;
	color: #94B1D7;
	line-height: 30px;
	text-transform: capitalize;
	letter-spacing: 0.04em;
	font-weight: 300;
	padding-left: 130px;
	position: relative;
}
.fs-date span:before{
	content: "";
	height: 6px;
	width: 416px;
	background: #f8f8f8;
	position: absolute;
	top: 50%;
	left: -110px;
	transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
}
.fs-desc{
	padding-top: 32px;
	padding-bottom: 47px;
}
.fs-desc p{
	margin: 0;
	font-size: 15px;
	color: #636363;
	line-height: 28px;
	letter-spacing: 0.02em;
	font-weight: normal;
}
.fs-desc p:first-child{
	padding-bottom: 25px;
}

.fs-img{
	padding-top: 32px;
	padding-bottom: 35px;
}
.fs-img img{
	display: inline-block;
	width: 100%;
}
.fs-ul{
	padding-top: 50px;
}
.fsul-desc p{
	margin: 0;
	font-size: 15px;
	color: #636363;
	line-height: 28px;
	letter-spacing: 0.02em;
	font-weight: normal;
	padding-bottom: 32px;
}
.fsul-item ul{
	list-style: none;
	padding: 0;
	margin: 0;
	padding-left: 30px;
}
.fsul-item ul li{
	padding-left: 20px;
	position: relative;
}
.fsul-item ul li:before{
	content: "";
	height: 5px;
	width: 5px;
	background: #4174AC;
	position: absolute;
	top: 15%;
	left: 0;
	transform: translateX(-25%);
	-ms-transform: translateX(-25%);
	-webkit-transform: translateX(-25%);
}
.fsul-item ul li p{
	margin: 0;
	padding-bottom: 25px;
	font-size: 15px;
	color: #636363;
	letter-spacing: 0.02em;
	font-weight: normal;
}
.fs-img-item ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
.fs-img-item ul li{
	float: left;
	width: 50%;
	padding-bottom: 25px;
	padding-right: 12px;
	padding-left: 12px;
}
.fs-img-item ul li:nth-child(2n+1){
	padding-left: 0;
}
.fs-img-item ul li:nth-child(2n+2){
	padding-right: 0;
}
.fs-img-item ul li img{
	display: inline-block;
	width: 100%;
}



.fs-btm-desc{
	padding-top: 5px;
	padding-bottom: 30px;
}
.fs-btm-desc p{
	margin: 0;
	font-size: 15px;
	color: #636363;
	line-height: 28px;
	letter-spacing: 0.02em;
	font-weight: normal;
}
.ps-title h3{
	margin: 0;
	color: #303E6B;
	line-height: 70px;
	letter-spacing: 0.04em;
	font-weight: 700;
	padding-bottom: 20px;
}
.ps-desc p{
	margin: 0;
	font-size: 15px;
	color: #636363;
	line-height: 28px;
	letter-spacing: 0.02em;
	font-weight: normal;
	padding-bottom: 40px;
}

.ps-item-img{
	float: left;
	width: 50%;
	height: 475px;
	background: url('../images/image-5.png');
	background-size: cover;
	background-repeat: no-repeat;
}
.ps-item-desc{
	float: right;
	width: 50%;
	padding-left: 22px;
}
.ps-item-desc p{
	margin: 0;
	font-size: 15px;
	color: #636363;
	line-height: 28px;
	letter-spacing: 0.02em;
	font-weight: normal;
	padding-bottom: 35px;
}
.ps-item-desc p:last-child{
	padding-bottom: 0;
}
.ps-btm-desc{
	padding-top: 17px;
	padding-bottom: 17px;
}
.ps-btm-desc p{
	margin: 0;
	font-size: 15px;
	color: #636363;
	line-height: 28px;
	letter-spacing: 0.02em;
	font-weight: normal;
}

.ps-blockquote{
	background: url('../images/quote.png');
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 65px;
	padding-bottom: 68px;
	padding-left: 58px;
	padding-right: 58px;
	margin-bottom: 50px;
}
.psb-title h3{
	margin: 0;
	font-size: 34px;
	color:  #FFFFFF;
	line-height: 40px;
	letter-spacing: 0.02em;
	font-weight: 200;
	text-align: center;
	padding-bottom: 42px;
	padding-top: 72px;
	background: url('../images/blockquote.png');
	background-repeat: no-repeat;
	background-position: 370px 0;
}
.psb-desc{
	text-align: center;
}
.psb-desc span{
	display: inline-block;
	vertical-align: baseline;
	color: #fff;
	letter-spacing: 0.02em;
	font-weight: 700;
}

.xs-menu-popup,
.xs-menu-btn{
	display: none;
}


@media(max-width: 1199px){
	.hide-md{
		display: none!important;
	}
	.show-md{
		display: block!important;
	}
	.hdr-logo {
	    width: 15%;
	}
	.hdr-menu {
		padding-left: 0;
	    padding-top: 15px;
	}
	.hdr-main-menu ul li {
	    padding-left: 12px;
	    padding-right: 12px;
	}
	.hdr-cnt a{
		padding: 10px 20px 10px 50px;
		background-position: 18px 10px;
	}
	.ftr-top-sct span.left{
		height: 258px !important;
	}
	.ftr-top-sct span.right{
	    height: 220px !important;
	    bottom: 140px !important;
	}
	.ftr-top-desc-title h3 {
		font-size: 30px !important;
	}
	.ftr-top-cnt-tel {
	    padding-right: 30px !important;
	}
	.ftr-top-cnt-tel a{
		font-size: 28px !important;
		padding-bottom: 12px !important;
        padding-top: 12px !important;
	}
	.ftr-top-cnt-socail-media ul li:first-child {
	    padding-left: 25px !important;
	}
	.ftr-top-cnt-socail-media ul li:nth-child(2) {
	    padding-left: 20px !important;
	}
	.ftr-top-cnt-socail-media ul li {
	    padding-left: 15px !important;
	}
	.ftr-top-cnt-socail-media ul li a {
	    font-size: 28px !important;
	}
	.ftr-copywrite-menu ul li:first-child {
	    padding-left: 21px !important;
	}
	.ftr-copywrite-menu ul li {
	    padding-left: 15px !important;
	    padding-top: 4px !important;
	    padding-bottom: 4px !important;
	}
}


@media(max-width: 991px){
	.hide-sm{
		display: none!important;
	}
	.show-sm{
		display: block!important;
	}
	body{
		position: relative;
	}
	.hdr-logo{
		display: block;
		width: 100%;
		text-align: center;
	}
	.hdr-menu{
		display: none;
	}
	.banner-dropdown-menu{
		display: none;
	}
	.banner-section{
		padding-top: 170px;
	}
	.banner-sct-title h2{
		padding-bottom: 45px;
		font-size: 40px;
	}
	.fs-ul {
	    padding-top: 30px;
	}
	.fsul-desc p{
		font-size: 12px;
    	line-height: 22px;
        padding-bottom: 25px;
	}
	.fsul-item ul li p{
		padding-bottom: 18px;
    	font-size: 12px;
	}
	.fsul-desc p {
	    font-size: 12px;
	    line-height: 22px;
	    padding-bottom: 25px;
	}
	.fs-btm-desc {
	    padding-bottom: 20px;
	}
	.fs-btm-desc p{
		font-size: 12px;
    	line-height: 22px;
	}
	.ps-title h3{
		font-size: 33px;
	    padding-bottom: 20px;
	    line-height: 45px;
	}
	.ps-desc p {
	    font-size: 12px;
	    line-height: 20px;
	    padding-bottom: 30px;
	}
	.ps-item-img{
		height: 395px;
	}
	.ps-item-desc p {
	    font-size: 12px;
	    line-height: 20px;
	    padding-bottom: 30px;
	}
	.ps-btm-desc p{
		font-size: 12px;
    	line-height: 20px;
	}
	.ps-blockquote {
	    padding-top: 55px;
	    padding-bottom: 58px;
	    padding-left: 48px;
	    padding-right: 48px;
	}
	.psb-title h3 {
	    font-size: 27px;
	    line-height: 35px;
	    padding-bottom: 35px;
	    padding-top: 65px;
	    background-position: top center;
	}
	.psb-desc span{
		font-size: 15px;
	}





	.xs-menu-btn{
		background: #94B1D7;
		height: 82px;
		display: flex;
		align-items: center;
		justify-content: center;
		color: #fff;
	}

	.xs-menu-popup{
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		background: #4174ad;
		color: #fff;
		z-index: 99;
		display: none;
	}
	.xs-menu-popup-inner{
		position: relative;
		padding-bottom: 80px;
	}
	.xs-menu-close-btn{
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		background: #364E7C;
		height: 82px;
		display: flex;
		align-items: center;
		justify-content: center;
		color: #fff;
	}
	.xs-menu-popup-logo{
		text-align: center;
		padding-top: 52px;
	}
	.xs-popup-menu{
		text-align: center;
		padding-top: 82px;
		padding-bottom: 75px;
	}
	.xs-popup-menu ul{
		list-style: none;
		padding: 0; 
		margin: 0;
	}
	.xs-popup-menu ul li{
		padding-bottom: 42px;
	}
	.xs-popup-menu ul li:last-child{
		padding-bottom: 0;
		padding-top: 20px;
	}
	.xs-popup-menu ul li a{
		display: inline-block;
		font-size: 20px;
		color: #fff;
		text-transform: uppercase;
		font-weight: 500;
	}
	.xs-popup-menu ul li a.tel{
		padding: 10px 30px 10px 58px;
		background: transparent;
		border: 1px solid #fff;
		background: url('../images/tel.png');
		background-repeat: no-repeat;
		background-position: 28px 12px;
	}


	.fs-inner {
	    padding-top: 70px;
	}
	.fs-title h1{
		font-size: 50px;
	}
	.fs-date span{
		font-size: 18px;
		line-height: 30px;
		padding-left: 100px;
	}
	.fs-desc {
	    padding-top: 20px;
	    padding-bottom: 30px;
	}
	.fs-desc p:first-child {
	    padding-bottom: 18px;
	}
	.fs-desc p{
		font-size: 12px;
    	line-height: 20px;
	}


	.ftr-top-sct span.left {
	    height: 197px !important;
	}
	.ftr-top-sct span.right {
	    height: 196px !important;
	    bottom: 110px !important;
	}
	.ftr-top-desc {
	    padding-top: 70px !important;
	    padding-bottom: 61px !important;
	}
	.ftr-top-desc-title h3 {
	    font-size: 25px !important;
	}
	.ftr-top-contact {
	    padding-top: 30px !important;
	    padding-bottom: 30px !important;
	}
	.ftr-top-cnt-tel {
	    padding-right: 20px !important;
	}
	.ftr-top-cnt-tel a {
	    font-size: 18px !important;
	    padding-bottom: 10px !important;
	    padding-top: 10px !important;
	    background-size: 25px 25px !important;
	    padding-left: 50px !important;
	}
	.ftr-top-cnt-socail-media ul li:first-child {
	    padding-left: 15px !important;
	}
	.ftr-top-cnt-socail-media ul li:nth-child(2) {
	    padding-left: 15px !important;
	}
	.ftr-top-cnt-socail-media ul li {
	    padding-left: 12px !important;
	}
	.ftr-top-cnt-socail-media ul li a {
	    font-size: 18px !important;
	}


	.ftr-main-menu-sct {
	    padding-bottom: 80px !important;
	}
	.ftr-logo {
	    padding-left: 40px !important;
	}
	.ftr-logo a {
	    max-width: 130px !important;
	}
	.ftr-main-menu-left ul li, 
	.ftr-main-menu-right ul li {
	    padding-bottom: 10px !important;
	    padding-top: 10px !important;
	}
	.ftr-main-menu-left ul li a, 
	.ftr-main-menu-right ul li a {
	    font-size: 10px !important;
	}
	.ftr-cnt-plg a,
	.ftr-cnt-phone a,
	.ftr-cnt-email a,
	.ftr-cnt-btw a{
		font-size: 15px !important;
		line-height: 20px !important;
		padding-left: 35px !important;
		padding-bottom: 30px !important;
		background-size: 20px !important;
	}
	.ftr-cnt-plg a{
		background-position: 0 5px !important;
		font-size: 12px !important;
	}
	.ftr-cnt-phone a {
		background-position: 0 0px !important;
	}
	.ftr-cnt-email a{
		background-position: 0 0px !important;
	}
	.ftr-cnt-btw a{
		background-position: 0 5px !important;
	    background-size: 25px 10px !important;
	}

	.ftr-copywrite-inner{
		padding-bottom: 40px !important;
        padding-top: 35px !important;
	}
	.ftr-copywrite-desc p,
	.ftr-copywrite-menu ul li a{
		font-size: 12px !important;
	}
	.ftr-copywrite-menu ul li:first-child{
		padding-left: 10px !important; 
	}
	.ftr-copywrite-menu ul li{
		padding-left: 8px !important;
	}
	.ftr-copywrite-design a{
		font-size: 12px !important;
		padding-top: 10px !important;
	}
	
}


@media(max-width: 767px){
	.hide-xs{
		display: none!important;
	}
	.show-xs{
		display: block!important;
	}
	.banner-sct-title h2 {
	    padding-bottom: 35px;
	    font-size: 30px;
	}
	.fs-inner {
	    padding-top: 50px;
	}
	.fs-title h1 {
	    font-size: 45px;
	    line-height: 60px;
	    padding-bottom: 17px;
	}
	.fs-date span{
	    font-size: 15px;
	    line-height: 30px;
	    padding-left: 90px;
	}
	.fs-date span:before{
		width: 350px;
	}
	.fs-desc {
	    padding-top: 10px;
	    padding-bottom: 25px;
	}
	.fs-desc p {
	    font-size: 10px;
	    line-height: 15px;
	}
	.fs-desc p:first-child {
	    padding-bottom: 12px;
	}
	.fs-img {
	    padding-top: 0px;
	    padding-bottom: 0px;
	}
	.fs-ul {
	    padding-top: 20px;
	}
	.fsul-desc p {
	    font-size: 10px;
	    line-height: 15px;
	    padding-bottom: 18px;
	}
	.fsul-item ul {
	    padding-left: 20px;
	}
	.fsul-item ul li:before{
		top: 12%;
	}
	.fsul-item ul li p {
	    padding-bottom: 12px;
	    font-size: 10px;
	}
	.fsul-desc p {
	    font-size: 10px;
	    line-height: 15px;
	    padding-bottom: 18px;
	}
	.fs-img-item ul li{
		padding-left: 8px;
		padding-right: 8px;
		padding-bottom: 16px;
	}
	.fs-btm-desc {
	    padding-bottom: 12px;
	}
	.fs-btm-desc p {
	    font-size: 10px;
	    line-height: 15px;
	}
	.ps-title h3 {
	    font-size: 25px;
	    padding-bottom: 15px;
	    line-height: 35px;
	}
	.ps-desc p {
	    font-size: 10px;
	    line-height: 15px;
	    padding-bottom: 20px;
	}
	.ps-item-img{
		width: 100%;
		height: 300px;
	}
	.ps-item-desc {
	    width: 100%;
	    padding-left: 0px;
	    padding-top: 15px;
	}
	.ps-item-desc p {
	    font-size: 10px;
	    line-height: 15px;
	    padding-bottom: 15px;
	}
	.ps-btm-desc {
	    padding-top: 12px;
	    padding-bottom: 17px;
	}
	.ps-btm-desc p {
	    font-size: 10px;
	    line-height: 15px;
	}
	.ps-blockquote {
	    padding-top: 45px;
	    padding-bottom: 48px;
	    padding-left: 40px;
	    padding-right: 40px;
	    margin-bottom: 35px;
	}
	.psb-title h3 {
	    font-size: 22px;
	    line-height: 28px;
	    padding-bottom: 25px;
	    padding-top: 45px;
	    background-position: top center;
	    background-size: 30px;
	}
	.psb-desc span {
	    font-size: 12px;
	}


	.footer-top{
		padding-bottom: 50px !important;
	}
	.ftr-top-sct span.left {
	    height: 111px !important;
	}
	.ftr-top-sct span.right {
	    height: 78px !important;
	    bottom: 50px !important;
	}
	.ftr-top-desc {
	    padding-top: 30px !important;
	    padding-bottom: 20px !important;
	}
	.ftr-top-desc-title h3 {
	    font-size: 20px !important;
	    padding-bottom: 12px;
	}
	.ftr-top-desc-link a{
		font-size: 12px;
	}
	.ftr-top-contact {
	    padding-top: 20px !important;
	    padding-bottom: 20px !important;
	}
	.ftr-top-cnt-tel a {
	    font-size: 15px !important;
	    padding-bottom: 10px !important;
	    padding-top: 10px !important;
	    background-size: 15px 15px !important;
	    padding-left: 35px !important;
	}
	.ftr-top-cnt-socail-media ul li:first-child {
	    padding-left: 12px !important;
	}
	.ftr-top-cnt-socail-media ul li:nth-child(2) {
	    padding-left: 12px !important;
	}
	.ftr-top-cnt-socail-media ul li {
	    padding-left: 10px !important;
	}
	.ftr-top-cnt-socail-media ul li a {
	    font-size: 15px !important;
	}

	.ftr-logo {
	    padding-left: 0px !important;
	    text-align: center !important;
	    padding-bottom: 40px !important;
	}
	.ftr-main-menu-left {
	    width: 100% !important;
	    text-align: center !important;
	    padding-bottom: 20px !important;
	    border-bottom: 1px solid #E5E5E5 !important;
	}
	.ftr-main-menu-left ul li:before{
		left: 50% !important;
	}
	.ftr-main-menu-right{
		display: none!important;
	}
	.ftr-contact{
		text-align: center !important;
    	padding-top: 45px !important;
	}
	.ftr-main-menu-sct {
	    padding-bottom: 30px !important;
	}
	.ftr-copywrite {
	    width: 100% !important;
	    text-align: center !important;
	}
	.ftr-copywrite-design {
	    width: 100% !important;
	    text-align: center !important;
	}
	.ftr-cnt-plg a,
	.ftr-cnt-phone a{
		padding-left: 0px !important;
	    padding-bottom: 30px !important;
	    padding-top: 45px !important;
	    background-position: top center !important;
	}
	.ftr-cnt-email a,
	.ftr-cnt-btw a{
		padding-left: 0px !important;
	    padding-bottom: 30px !important;
	    padding-top: 32px !important;
	    background-position: top center !important;
	}

}



@media(max-width: 639px){
	.hdr-inr a.btn-left{
		margin-left: 225px;
	}
	.fs-title h1 {
	    font-size: 40px;
	    line-height: 50px;
	}
	
}



@media(max-width: 575px){
	.ftr-top-sct span.left {
	    height: 126px !important;
	}
	.ftr-top-sct span.right {
	    height: 126px !important;
	    bottom: 50px !important;
	}
	.ftr-top-desc {
	    padding-top: 30px !important;
	    padding-bottom: 20px !important;
	    text-align: center;
	}
	.ftr-top-desc-title h3 {
	    font-size: 20px !important;
	    padding-bottom: 12px !important;
	}
	.ftr-top-desc-link a {
		font-size: 10px !important;
	}
	.ftr-top-cnt-tel{
	    width: 100% !important;
	    text-align: center !important;
	}
	.ftr-top-cnt-tel a {
	    padding-bottom: 10px !important;
	    padding-top: 27px !important;
	    padding-left: 0px !important;
	    background-position: top center !important;
	}
	.ftr-top-cnt-socail-media {
	    border-left: none !important;
	    width: 100% !important;
	    text-align: center !important;
	}
	.fsul-item ul {
	    padding-left: 2px;
	}
}


@media(max-width: 479px){
	

}



@media(max-width: 359px){

}

