
.bois-inner{
	padding-top: 80px;
}
.bois-title h4{
	margin: 0;
	color:  #303E6B;
	text-transform: uppercase;
	letter-spacing: 0.04em;
	text-align: center;
	font-weight: 700;
	padding-bottom: 20px;
}
.bois-desc p{
	margin: 0;
	font-size: 15px;
	color: #636363;
	line-height: 24px;
	letter-spacing: 0.02em;
	text-align: center;
	font-weight: normal;
	padding-bottom: 60px;
}
.bois-item{
	padding-bottom: 60px;
}
.bois-item ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
.bois-item ul li{
	float: left;
	width: 33.3333%;
	padding-right: 12px;
	padding-left: 12px;
}
.bois-item ul li:nth-child(3n+1){
	clear: left;
	padding-left: 0;
}
.bois-item ul li:nth-child(3n+3){
	padding-right: 0;
}
.bois-item-img img{
	display: inline-block;
	min-height: 360px;
	height: 100%;
}
.bois-item-cnt{
	padding-left: 40px;
}
.bois-item-cnt-inner{
	padding-left: 40px;
	position: relative;
}
.bois-item-cnt-inner:before{
	content: "";
	height: 208px;
	width: 6px;
	background: #F8F8F8;
	position: absolute;
	top: -72px;
	left: 0;
}
.bois-item-cnt-title h6{
	margin: 0;
	color: #303E6B;
	line-height: 30px;
	letter-spacing: 0.04em;
	font-weight: 700;
	padding-bottom: 20px;
	padding-top: 40px;
}
.bois-item-cnt-desc p{
	margin: 0;
	font-size: 15px;
	color: #636363;
	line-height: 28px;
	letter-spacing: 0.02em;
	font-weight: normal;
	padding-bottom: 30px;
}
.bois-item-cnt-link{
	padding-bottom: 50px;
}
.bois-item-cnt-link a{
	display: inline-block;
	font-size: 14px;
	color: #94B1D7;
	text-transform: uppercase;
	letter-spacing: 0.04em;
	font-weight: 600;
}

.bop-section{
	padding-bottom: 120px;
}
.bop-sct-inner{
	background: #F8F8F8;
	padding-top: 40px;
	padding-bottom: 40px;
}
.bop-sct-desc{
	text-align: center;
}
.bop-sct-desc span{
	display: inline-block;
	vertical-align: baseline;
	padding-right: 15px;
	padding-left: 15px;
	font-size: 15px;
	color: #94B1D7;
	font-weight: 700;
}


@media(max-width: 1199px){
	.hide-md{
		display: none!important;
	}
	.show-md{
		display: block!important;
	}
	
}


@media(max-width: 991px){
	.hide-sm{
		display: none!important;
	}
	.show-sm{
		display: block!important;
	}
	.bois-inner {
	    padding-top: 65px;
	}
	.bois-desc p {
	    font-size: 13px;
	    line-height: 20px;
	    padding-bottom: 50px;
	}

	.bois-item ul li{
		float: left;
		width: 50%;
		padding-right: 10px;
		padding-left: 10px;
	}
	.bois-item ul li:nth-child(3n+1){
		clear: none;
	}
	.bois-item ul li:nth-child(3n+1){
		padding-left: 10px;
	}
	.bois-item ul li:nth-child(3n+3){
		padding-right: 10px;
	}
	.bois-item ul li:nth-child(2n+1){
		padding-left: 0px;
	}
	.bois-item ul li:nth-child(2n+2){
		padding-right: 0px;
	}

	.bois-item-cnt-title h6 {
		font-size: 18px;
	    line-height: 25px;
	    padding-bottom: 15px;
	    padding-top: 30px;
	}
	.bois-item-cnt-desc p {
	    font-size: 12px;
	    line-height: 20px;
	    padding-bottom: 20px;
	}
	.bois-item-cnt-link {
	    padding-bottom: 40px;
	}
	.bois-item-cnt-link a {
	    font-size: 12px;
	}
	.bop-sct-inner {
	    padding-top: 30px;
	    padding-bottom: 30px;
	}
	.bois-item {
	    padding-bottom: 50px;
	}
	
	
}


@media(max-width: 767px){
	.hide-xs{
		display: none!important;
	}
	.show-xs{
		display: block!important;
	}
	.bois-item ul li{
		width: 100%;
		padding-right: 0;
		padding-left: 0;
	}
	.bois-item-img img {
	    width: 100%;
	}
	.bois-inner {
	    padding-top: 50px;
	}
	.bois-title h4 {
		font-size: 25px;
	    padding-bottom: 15px;
	}
	.bois-desc p {
	    font-size: 10px;
	    line-height: 15px;
	    padding-bottom: 30px;
	}
	.bois-item-cnt-title h6 {
	    font-size: 15px;
	    line-height: 22px;
	    padding-bottom: 10px;
	    padding-top: 20px;
	}
	.bois-item-cnt-desc p {
	    font-size: 12px;
	    line-height: 18px;
	    padding-bottom: 20px;
	}
	.bois-item-cnt-link {
	    padding-bottom: 30px;
	}

}



@media(max-width: 639px){
	.hdr-inr a.btn-left{
		margin-left: 225px;
	}
	
}



@media(max-width: 575px){
	.bois-desc p {
	    font-size: 9px;
	    line-height: 15px;
	    padding-bottom: 30px;
	}
	.bois-item-cnt-title h6 {
	    font-size: 12px;
	    line-height: 22px;
	    padding-bottom: 10px;
	    padding-top: 20px;
	}
	.bois-item-cnt-desc p {
	    font-size: 10px;
	    line-height: 15px;
	    padding-bottom: 10px;
	}
	.bois-item-cnt-link {
	    padding-bottom: 30px;
	}
}


@media(max-width: 479px){
	.bois-inner {
	    padding-top: 35px;
	}
	.bois-title h4 {
	    font-size: 20px;
	    padding-bottom: 15px;
	}
	.bois-desc p {
	    font-size: 9px;
	    line-height: 15px;
	    padding-bottom: 30px;
	}
	.bois-item-img img {
	    min-height: 260px;
	}
	.bois-item-cnt-title h6 {
	    font-size: 12px;
	    line-height: 18px;
	    padding-bottom: 15px;
	    padding-top: 20px;
	}
	.bois-item-cnt-desc p {
	    font-size: 10px;
	    line-height: 15px;
	    padding-bottom: 15px;
	}
	

}



@media(max-width: 359px){

}