.property-section-info{
	padding-top: 75px;
	padding-bottom: 70px;
}
.prpt-sct-inner{
	padding-left: 115px;
	padding-right: 115px;
}
.property-sct{
	float: left;
	width: 59%;
	padding-top: 95px;
	padding-left: 40px;
	padding-right: 75px;
	position: relative;
}
.property-sct:before{
	content: "";
	height: 208px;
	width: 2px;
	background: #94B1D7;
	position: absolute;
	left: 0;
	top: 85px;
}
.property-contant{
	float: right;
	width: 41%;
	background: #F8F8F8;
	padding-top: 50px;
	padding-bottom: 50px;
	text-align: center;
}
.property-sct-title h4{
	margin: 0;
	color: #303E6B;
	line-height: 50px;
	text-transform: uppercase;
	letter-spacing: 0.04em;
	font-weight: 700;
	padding-bottom: 25px;
}
.property-sct-price span{
	display: inline-block;
	vertical-align: baseline;
	font-size: 26px;
	color: #636363;
	letter-spacing: 0.02em;
	font-weight: 200;
	padding-bottom: 25px;
}
.property-sct-details{
	padding-bottom: 45px;
}
.property-sct-details img{
	display: inline-block;
}
.property-sct-details span{
	display: inline-block;
	padding-left: 10px;
	padding-right: 30px;
}
.property-sct-desc p{
	margin: 0;
	font-size: 14px;
	color: #636363;
	letter-spacing: 0.02em;
	line-height: 24px;
	font-weight: normal;
	padding-bottom: 32px;
}
.property-sct-link a{
	display: inline-block;
	font-size: 14px;
	color: #94B1D7;
	text-transform: uppercase;
	letter-spacing: 0.04em;
	font-weight: 600;
}

.pc-img{
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	margin: 0 auto;
}
.pc-img img{
	height: 110px;
	width: 110px;
	display: inline-block;
	border-radius: 100%;
}
.pc-title h5{
	display: inline-block;
	margin: 0;
	color: #303E6B;
	letter-spacing: 0.04em;
	font-weight: 700;
	padding-top: 20px;
	padding-bottom: 10px;
}
.pc-desc span{
	display: inline-block;
	vertical-align: baseline;
	font-size: 14px;
	color: #94B1D7;
	text-transform: uppercase;
	letter-spacing: 0.04em;
	font-weight: 600;
	padding-bottom: 35px;
	position: relative;
}
.pc-desc span:before{
	content: "";
	height: 2px;
	width: 344px;
	background: #fff;
	position: absolute;
	bottom: 0;
	left: -142px;
}
.pc-tel{
	padding-top: 35px;
	padding-bottom: 25px;
}
.pc-tel a{
	display: inline-block;
	vertical-align: baseline;
	font-size: 22px;
	color: #94B1D7;
	text-transform: uppercase;
	letter-spacing: 0.04em;
	font-weight: 300;
}
.pc-mail{
	padding-bottom: 20px;
}
.pc-mail a{
	display: inline-block;
	vertical-align: baseline;
	font-size: 22px;
	color: #94B1D7;
	letter-spacing: 0.04em;
	font-weight: 300;
}
.pc-link a{
	display: inline-block;
	vertical-align: baseline;
	font-size: 14px;
	color: #fff;
	padding: 20px 64px;
	background: #94B1D7;
	text-transform: uppercase;
	letter-spacing: 0.04em;
	font-weight: 600;
}


.pgs-img{
	height: 670px;
	width: 1370px;
	background: url('../images/image-4.png');
	background-repeat: no-repeat;
	background-size: cover;
}
.pgs-slider-wrap{
	position: relative;
}
.mainsliderarrow .leftarrow,
.mainsliderarrow .rightarrow{
	display: block;
	height: 56px;
	width: 56px;
	cursor: pointer;
	color: #D5D5D5;
	text-align: center;
	font-size: 60px;
	line-height: 40px;
	background: #989993;
}
.mainsliderarrow .rightarrow{
	background: #ffffff;
}
.mainsliderarrow .leftarrow{
	position: absolute;
	right: 95px;
	bottom: 25px;
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	z-index: 5;
	background-image: url(../images/pgs-left.png);
	background-repeat: no-repeat;
	background-size: 20px 20px;
    background-position: center center;
}

.mainsliderarrow .rightarrow{
	position: absolute;
	right: 20px;
	bottom: 25px;
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	z-index: 5;	
	background-image: url(../images/pgs-right.png);
	background-repeat: no-repeat;
	background-size: 20px 20px;
    background-position: center center;
}




.pdp-description-section-wrap{
	padding: 125px 0 92px 110px;
}
.pdp-description{
	float: left;
	width: 55%;
	padding-right: 105px;
	position: relative;
}
.pdp-description:after{
	content: "";
	height: 507px;
	width: 2px;
	background: #F8F8F8;
	position: absolute;
	top: 0;
	right: 0;
}
.pdp-details-sct{
	float: right;
	width: 45%;
	padding-left: 60px;
	padding-top: 115px;
}
.pdpd-title h4{
	margin: 0;
	padding-bottom: 30px;
	color: #303E6B;
	letter-spacing: 0.04em;
	font-weight: 700;
	position: relative;
}
.pdpd-title h4:before{
	content: "";
	height: 2px;
	width: 1138px;
	background: #F8F8F8;
	position: absolute;
	bottom: 0;
	left: 0;
}
.pdpd-desc{
	padding-top: 35px;
}
.pdpd-desc p{
	margin: 0;
	font-size: 15px;
	color: #636363;
	line-height: 28px;
	letter-spacing: 0.02em;
	font-weight: normal;
	padding-bottom: 42px;
}
.pdpd-item{
	padding-bottom: 20px;
}
.pdpd-item ul{
	list-style: none;
	padding: 0;
	margin: 0;
	padding-left: 24px;
}
.pdpd-item ul li{
	padding-left: 20px;
	padding-bottom: 25px;
	font-size: 15px;
	color: #636363;
	letter-spacing: 0.02em;
	font-weight: normal;
	position: relative;
}
.pdpd-item ul li:before{
	content: "";
	height: 5px;
	width: 5px;
	background: #4174AC;
	position: absolute;
	top: 15%;
	left: 0;
}
.pdpd-link a{
	display: inline-block;
	vertical-align: baseline;
	font-size: 14px;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 0.04em;
	font-weight: 600;
	padding: 20px 65px;
	background: #94B1D7;
}

.pdpds-bed span,
.pdpds-booth span,
.pdpds-size span,
.pdpds-pool span,
.pdpds-gym span,
.pdpds-park span{
	display: inline-block;
	vertical-align: baseline;
	font-size: 14px;
	color: #303E6B;
	text-transform: capitalize;
	letter-spacing: 0.04em;
	font-weight: normal;
	padding-left: 56px;
	padding-bottom: 30px;
	padding-top: 5px;
}
.pdpds-bed span{
	background: url('../images/bed.png');
	background-repeat: no-repeat;
	background-position: left top;
}
.pdpds-booth span{
	background: url('../images/booth.png');
	background-repeat: no-repeat;
	background-position: left top;
}
.pdpds-size span{
	background: url('../images/arrow.png');
	background-repeat: no-repeat;
	background-position: left top;
}
.pdpds-pool span{
	background: url('../images/pool.png');
	background-repeat: no-repeat;
	background-position: left top;
}
.pdpds-gym span{
	background: url('../images/gym.png');
	background-repeat: no-repeat;
	background-position: left top;
}
.pdpds-park span{
	background: url('../images/park.png');
	background-repeat: no-repeat;
	background-position: left top;
}

.pdp-googlemap-section{
	padding-bottom: 62px;
}
.pdp-gm-inner iframe{
	max-width: 1370px;
	width: 100%;
	height: 500px;
}

.pdp-contact-section{
	padding-bottom: 120px;
}
.pdpc-sct-inner{
	padding: 85px 230px 115px 230px;
	background: #F8F8F8;
}
.pdpc-title h4{
	margin: 0;
	color: #303E6B;
	text-transform: uppercase;
	letter-spacing: 0.04em;
	font-weight: 700;
	padding-bottom: 20px;
	text-align: center;
}
.pdpc-desc p{
	margin: 0;
	font-size: 15px;
	color: #636363;
	line-height: 24px;
	letter-spacing: 0.02em;
	text-align: center;
	font-weight: normal;
	padding-bottom: 40px;
	border-bottom: 3px solid #FFFFFF;
}
.form-name{
	padding-top: 20px;
}
.pdpc-form-first-name,
.pdpc-form-tel{
	float: left;
}
.pdpc-form-lastname,
.pdpc-form-email{
	float: right;
}
.pdpc-form-first-name span,
.pdpc-form-lastname span,
.pdpc-form-tel span,
.pdpc-form-email span,
.pdpc-form-msg span{
	display: inline-block;
	vertical-align: baseline;
	font-size: 14px;
	color: #303E6B;
	text-transform: uppercase;
	letter-spacing: 0.04em;
	font-weight: 600;
	padding-bottom: 15px;
	padding-top: 32px;
}
.pdpc-form-first-name input[type=text],
.pdpc-form-lastname input[type=text],
.pdpc-form-tel input[type=text],
.pdpc-form-email input[type=text]{
	display: inline-block;
	height: 55px;
	width: 420px;
	padding-left: 24px;
	font-size: 14px;
	color: #C4C4C4;
	text-transform: capitalize;
	letter-spacing: 0.04em;
	font-weight: normal;
	border: 1px solid #E4E4E4;
}
.pdpc-form-msg textarea{
	display: inline-block;
	height: 250px;
	width: 880px;
	font-size: 14px;
	color: #C4C4C4;
	text-transform: capitalize;
	letter-spacing: 0.04em;
	font-weight: normal;
	border: 1px solid #E4E4E4;
	resize: none;
	padding-left: 24px;
	padding-top: 22px;
}
.pdpc-form-privacy{
	padding-top: 35px;
	padding-bottom: 35px;
}
.pdpc-form-privacy p{
	margin: 0;
	font-size: 14px;
	color: #000000;
	letter-spacing: 0.04em;
	text-align: center;
	font-weight: normal;
}
.pdpc-form-privacy p a{
	display: inline-block;
	color: #7095bf;
}
.pdpc-form-send{
	text-align: center;
}
.pdpc-form-send a{
	display: inline-block;
	padding: 20px 26px;
	background: #94B1D7;
	font-size: 14px;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 0.04em;
	font-weight: 600;
}
